extends layout

block content
    table.table.table-bordered
        thead
            tr
                th ID
                th COUNTRY
                th REGION
                th CITY
                th ORG
                th LOCATION
                th IP
                th HOSTNAME
                th SCREEN
                th USERAGENT
                th LAST VISIT
                th VISITS
        tbody
            each item in data
                tr
                    td= item.ID
                    td= item.country
                    td= item.region
                    td= item.city
                    td= item.org
                    td
                        a(href= item.location target= '_blank')= item.location
                    td= item.ip
                    td= item.hostname
                    td= item.screen
                    td= item.useragent
                    td= item.created_at
                    td= item.count